@use '../abstracts' as *;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
  color: var(--text-primary);
}

h1 {
  font-size: 2rem;
  
  @include tablet {
    font-size: 1.5rem;
  }
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

p {
  margin-bottom: 1rem;
  line-height: 1.6;
}
